* {
	margin: 0;
}

html, body {
	height: 100%;
	background-color: #f5f5f5;
}

.hidden {
	display: none;
}

.row1{
	background-color: orange;
}

.row2{
	background-color: blue;
}

.container-fluid {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.row:last-child {
	flex: 1;
}

.icon:hover { cursor: pointer; }

.icon_other:hover { color: blue; }

.icon_hamburger:hover { color: red; }

.icon_paperclip:hover { color: purple; }

.icon_pen:hover { color: lightblue; }

.icon_trash:hover { color: red; }

.icon_complete:hover { color: green; }

.spinner {
	width: 40px;
	height: 40px;
	background-color: #333;
	margin: 10px auto;
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {

	0% { -webkit-transform: perspective(120px) }
				
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
				
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {

	0% { 
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
	}
				
	50% { 
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
	}
				
	100% { 
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

.loading_line {
	width: 30%;
	height: 40px;
	text-align: center;
	margin: 10px auto;
}

.small_card {
	width: 50%;
	margin-top: 5px;
}

.cardContainer {
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: space-around;
}

.cardClass {
	margin-top: 5px;
	flex: 1 0 40%;
	height: 150px;
	margin-right: 5px;
}

.cardClass:hover { cursor: pointer; }

.carClass:nth-child(odd) { margin-left: 5px; }

.animateDiv {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
 	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.rotate {
	-moz-transition: all 0.25s linear;
	-moz-transform: all 0.25s linear;
	transition: all 0.25s linear;
}

.rotate.down {
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

.wrapper {
	display: flex;
	align-items: stretch;
}

#sidebar {
	min-width: 80px;
	max-width: 80px;
	background: #343a40;
	height: 100vh;
	color: #FFF;
	transition: all 0.3s;
}

#sidebar.active {
	min-width: 300px;
	max-width: 300px;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs { display: none; }

#sidebar.active .sidebar-header strong { display: block; }

#sidebar ul li a { text-align: left; }

#sidebar.active ul li a {
	padding: 20px 10px;
	font-size: 0.85em;
}

#sidebar.active ul li a i {
	margin-right: 0;
	display: block;
	font-size: 1.8em;
	margin-bottom: 5px;
}

#sidebar.active ul ul a { padding: 10px !important; }

#sidebar.active .dropdown-toggle::after {
	top: auto;
	bottom: 10px;
	right: 50%;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}

#sidebar .sidebar-header { padding: 20px; }

#sidebar .sidebar-header strong {
	display: none;
	font-size: 1.8em;
}

#sidebar ul.components {
	padding: 20px 0;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: #7386D5;
	background: #fff;
}

#sidebar ul li a i {
	margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] { color: #fff; }

a[data-toggle="collapse"] { position: relative; }

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
}

ul.CTAs { padding: 20px; }

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.download {
	background: #fff;
	color: #7386D5;
}

a.article,
a.article:hover {
	background: #6d7fcc !important;
	color: #fff !important;
}

.sidenav_hover_class:hover { cursor: pointer; }

.sidenav_item:hover {
	font-size: 3.1em;
	transition: 0.1 ease-out;
}
			
.sidenav_list {}

.align_icon_bottom {
	bottom: 10px;
	left: 10px;
	text-align: center;
	position: absolute;			
}

.sidenav_text {}
/*tints the whole page*/
.tinted {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 0.7;
	z-index: 1000;
	display: inline-block;
}
/*container div for the thing that is being focused on*/
.mainDiv {
	width: 40%;
	top: 20%;
	left: 30%;
	z-index: 20000; /*aLl ThE wAy To AbSuRdItY*/
	position: absolute;
}
/*Container div for the alert*/
.userAlert {
	z-index: 10000;
	top: 90%;
	width: 100%;
	position: absolute;
}
/*the actual alert div*/
.childUserAlert {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

#insideCard:hover { cursor: pointer; }

.skeleton {
	position: relative;
	background-color: gray;
	border-radius: .25rem;
	opacity: 0.2;
	margin-right: 5px;
}

.cancelAlert {
	float: right;
	top: 0px;
}